extends layout

block content
  h1= title
  p This site takes your location from your IP, finds the weather there, and then suggests three movies that you might like to watch.
  p The site thinks you are currently in #{city}.
  h2 #{movie_1}
  p Plot: #{movie_1_plot}
  p Metascore: #{movie_1_score}
  h2 #{movie_2}
  p Plot: #{movie_2_plot}
  p Metascore: #{movie_2_score}
  h2 #{movie_3}
  p Plot: #{movie_3_plot}
  p Metascore: #{movie_3_score}

  h1 #{msg}